.card:hover h2 {
  /* position: relative; */
  opacity: 1;
  top: 38%;
  /* animation: fade-down .3s ease-in-out 0s 1; */
}

.card:hover{
  box-shadow: 0px 0px 15px 1px #5160b289;
  scale: 1.03;
}

.card img {
  transition: all 0.5s ease-in-out;
}

.card:hover img {
  transform: scale(1.2);
}

@keyframes fade-down {
  from {
    top: 20px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}