@import "tailwindcss";


body {
  @apply m-0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none; */
  background-color: #11111b;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#cursor,
#trail {
  mix-blend-mode: difference;
  /* filter: invert(100%); */
}

svg text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: .5rem;
  padding: 1rem;
  overflow: hidden;
  margin-top: 16px;
  position: relative;
  background: transparent;
  width: 15rem;
  border: 2px solid #5160b2;
  transition: all .5s;
}

.primary-btn::before {
  content: '';
  width: 100%;
  background-color: #5160b2;
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateX(100%);
  transition: all .5s ease-out;
}

.primary-btn:hover {
  transform: translateX(12px);
}

.primary-btn:hover::before {
  transform: translateX(0%);
}

@media (max-width : 1024px) {
  body {
    cursor: default;
  }

  #cursor,
  #trail {
    display: none;
  }
}