@import "tailwindcss";


body {
  @apply m-0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none; */
  background-color: #11111b;
  color: white;
  overflow-x: hidden;
}

#cursor,
#trail {
  mix-blend-mode: difference;
  /* filter: invert(100%); */
}

svg text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width : 1024px) {
  body {
    cursor: default;
  }

  #cursor,
  #trail {
    display: none;
  }
}